.footer{
    background: #000;
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.container{
    margin: auto;
}

.img1{
    text-align: center;
     
    padding-left: 200px;
}
.img2{
    text-align: center;
    margin-left: 100px;
    
}
.img3{
    text-align: center;
    margin-left: 80px;
}
.img4{
    
    text-align: center;
    margin-left: auto;
    
    margin-right: auto;
    display: block;
}
.hd{
    margin-top: 50px;
}