
    <section class="ftco-section bg-light">
        <div class="main">
          <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
              <h2 class="hd">Our Team</h2>
            </div>
          </div>
          
          
            <div class="container" style="display: grid;grid-template-columns:auto auto auto ; grid-gap: 2px;" >
          
           
              <div class="img1"> 
              
              <a  class="hello" href="https://www.cartradetech.com/our-team.html#Akshay_Shankar"><img src="../../assets/images/2.png" width="168" height="168"></a>
                  <h5>Akshay Shankar</h5>
                  <p>Chief Product Officer – Group</p></div>
               
              <div class="img2">
                  <a href="https://www.cartradetech.com/our-team.html#Vikram_Alva"><img src="../../assets/images/4.png" width="168" height="168"></a>
                 
                  <h5>Vikram Alva</h5>
                  <p>Chief Strategy Officer – Group</p></div> 
                
                    <div class="img3">
                    <a href="https://www.cartradetech.com/our-team.html#Vinay_Sanghi"><img src="../../assets/images/3.png" width="168" height="168"></a>
                     
              
                        <h5>Vinay Sanghi</h5>
                        <p>Chairman, Managing Director and Chief Executive Officer,<br>CarTrade Tech</p>
                     </div>
                     
            </div>
                      <div class="img4">
                        <a href="https://www.cartradetech.com/our-team.html#Aneesha_Menon"><img src="../../assets/images/1.png" width="168" height="168"></a>
                     
                          <h5>Aneesha Menon</h5>
                          <p>Executive Director and Chief Financial Officer</p>
                      </div>
                      
                   
              
              
          
         
            
          
        </div>
      </section>
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-left footerleft">CarTrade Tech Ltd
        12th Floor, Vishwaroop IT Park
        S Pranavanandji Marg, Sector 30A
        Vashi
        Navi Mumbai 400705
        Maharashtra, India
    </div>
            <div class="col-md-4 text-right footerright">© 2006 - 2021 All rights reserved in favour of CarTrade Tech Ltd.</div>
          </div>
        </div>
      </footer>
   
